{
  email off
}

{$CENTRAL_HOST} {
  encode zstd gzip

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "same-origin"
  }

  reverse_proxy central:8787
}
